* {
    box-sizing: border-box;
}

#header {
    background: black;
    color: white;
    overflow: auto;
    padding-left: 25px;
    padding-right: 25px;
}

#header a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#header a:hover{
    color: red;
}

#large-image {
    background: url(images/witcher.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 400px 25px;
}

a{
    text-decoration: none;
}

.logo {
    float: left;
    display: inline-block;
    padding: 15px;
    margin-right: 25px;
}

.left-menu {
    float: left;
    display: inline-block;
}

.left-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-menu ul li {
    display: inline-block;
    padding: 25px;
}

.right-menu {
    float: right;
    display: inline-block;
    color: black;
}


.right-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.right-menu ul li {
    display: inline-block;
    padding: 25px;
}

.right-menu ul li a{
    color: white;

}

.left-menu ul li a{
    color: white;
}

.description-box {
    width: 40%;
}

.description-box h1 {
    font-family: serif;
    font-weight: 700;
    color:white;
    font-size: 60px;
    margin: 0;
}

.description-box h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 25px;
    margin: 0;
}

.description-box h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color:red;
    margin: 0;
}

.description-box p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:white;
    font-size: 18px;
    margin: 25px 0 0 0;
}

button {
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    font-weight: 700;
    margin: 10px 2px;
    border-radius: 5%;
    background: #e5e5e5;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    background-image: none;
    background-color: rgba(0,0,0,.4);
    border: 1px solid rgba(255,255,255,.4);
}

button:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.watch {
    background: black;
    color: white;
    padding: 25px 0 0 50px;
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#video-section {
    width: 100%;
    background: black;
}

.row {
    font-size: 0;
    width: 100%;
}

.video-boxes {
    display: inline-block;
    background: red;
    height: 150px;
    width: 15%;
    font-size: 16px;
    margin: 2.5%;
    padding: 15px;
}

.video1 {
    background: url(images/stranger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 25px;
}
.video2 {
    background: url(images/punisher.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 25px;
}
.video3 {
    background: url(images/ozark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 25px;
}
.video4 {
    background: url(images/narcos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 25px;
}
.video5 {
    background: url(images/house.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 25px;
}

.video-boxes:hover {
   cursor: pointer;

}